table {
	font-family: arial, sans-serif;
	border-collapse: collapse;
	width: 90%;
}

h1 {
	font-family: gabriola;
	font-size: 40px;
}

td,
th {
	border: 1px solid #dddddd;
	padding: 8px;
}
tr,td,th,table,h1,h3,form{
	align-items: center;
	align-content: center;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
h1{
	font-size: 50px;
	font-weight: 800;
}

tr:nth-child(even) {
	background-color: #dddddd;
}