* {
    margin: 0;
}

body,
html {
    background: #f1fefb;
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    font-family: 'Ubuntu', sans-serif;
}

body table,
h3 {
    font-weight: 700;
}

#header {
    margin: 0 0 7rem 0;
}

.btn-pad {
    padding-top: 40px;
    padding-left: 80px;

}
.heading {
    color: white;
    size: 50px;
    padding-top: 60px;
    padding-left: 40px;
}
.intro {
    text-align: center;
    color: white;
}

.btn {
    height: 4rem;
    width: 250px;
    color: white;
    font-size: 1.5rem;
    background-color: #343a40;
    border-radius: 2rem;
    text-transform: unset !important;
}
.btn-send:hover,
.btn:hover,
.btn-submit:hover {
    background-color:#7acbe9;
    color: black;
}
.btn-send:focus,
.btn:focus,
.btn-submit:focus {
    background-color: white;
    color: black;
}

th {
    background-color: #343a40;
    color: lavenderblush;

}
h1 {
    align-items: center;
    font-size: 3rem;
    font-weight: 800;
}
table {
    border-collapse: collapse;
    width: 90%;
}

table td ,table th{
    font-size: 1.2rem ;
    font-weight: 600;
}
td,
th {
    border: 1px solid #dddddd;
    padding: 0.5rem;
}
tr,
td,
th,
table,
h1,
h3,
form {
    align-items: center;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
tr:nth-child(even) {
    background-color: #bfeeff;
}
.btn-transfer{
    height: 2rem;
    width: 8rem;
    padding: 0;
    margin:auto !important;
    font-size: 1.2rem;
    
}
.transfer .card h5{
    font-size: 1.4rem;
    font-weight: 700;
    padding: 1rem ;
    text-align: left !important;
    
}
.transfer{
    margin:auto
}
.transfer .card{
    margin:3% 2%;
    padding: 1.5rem;
    border-radius: 2rem;
}
.transfer input,.transfer select{
    width: 30vw;
    height: 2.5rem;
}
@media (min-width: 600px){
    .transfer input,.transfer select{
        width: 15vw;
        height: 2.5rem;
    }
    .transfer .card{
        margin:3% auto;
        padding: 1.5rem;
        border-radius: 2rem;
    }
    .transfer{
        margin:auto
    }
    }
.input-1{
    padding: 0.6rem 1rem !important;

}
@media (max-width: 600px){
    .disabled-1{
        display: none;
/* height:0;
width: 0; */
}
}